html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(29, 30, 34, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(39, 92, 255, 1);
  border-radius: 10px;
}

#bankOfElements::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(33, 33, 33, 1);
}

#bankOfElements::-webkit-scrollbar-thumb {
  background-color: rgba(229, 20, 26, 1);
  border-radius: 10px;
}

body {
  margin: 0;
  background: rgba(33, 33, 33, 1);
}

#logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(29, 30, 34, 1);
}

#letterNumber1, #letterNumber2, #letterNumber3, #letterNumber4, #letterNumber5, #letterNumber6, #letterNumber7 {
  font-size: 80px;
  font-family: 'Architects Daughter', cursive;
}

#letterNumber1, #letterNumber3, #letterNumber5, #letterNumber7 {
  color: rgba(39, 92, 255, 1);
}

#letterNumber2, #letterNumber4, #letterNumber6 {
  color: rgba(229, 20, 26, 1);
}

.wrapperPages {
  height: 100vh;
}

#container {
  display: flex;
}

img {
  margin: 5px;
}

#basket {
  width: 15%;
  border-right: 3px solid rgba(29, 30, 34, 1);
}

.basketUsual {
  background: url(images/delete.png)no-repeat;
  background-position: center;
}

.basketDrop {
  background: rgba(229, 20, 26, 1);
}

#workField {
  width: 70%;
}

#bankOfElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  border-left: 3px solid rgba(29, 30, 34, 1);
  overflow: scroll;
}

#bankOfElements:hover {
  background: rgba(24, 24, 24, 1);
}

#menu {
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  background: rgba(29, 30, 34, 1);
}

#menu > input {
  padding: 15px 30px;
  font-size: 24px;
  background-color: rgba(39, 92, 255, 1);
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

#timer {
  font-size: 24px;
  color: white;
}

.draggable, .base {
  cursor: pointer;
}

#counter {
  position: absolute;
  top: 90%;
}

#count {
  display: flex;
  font-size: 72px;
}

#inscription {
  margin: 0;
  font-size: 64px;
  color: rgba(24, 24, 24, 1);
}

#allElements {
  color: rgba(39, 92, 255, 1);
}

#openedElements {
  color: rgba(229, 20, 26, 1);
}

.base:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

#header {
  text-align: center;
  font-size: 48px;
  color: darkorange;
} 

#rules {
  margin: auto;
  text-align: justify;
  width: 70%;
  font-size: 32px;
  padding: 0 100px;
  color: white;
}

.base {
  width: 128px;
  height: 128px;
}

#table {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 24px;
  border: 1px solid darkorange;
  color: white;
}

.modal {
  margin: auto;
  width: 20%;
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 12;
  text-align: center;
  border-radius: 3%;
  background: rgba(39, 92, 255, 1);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
  display: none;
}

@-webkit-keyframes animatetop {
  from {top: -20%; opacity: 0} 
  to {top: 20%; opacity: 1}
}

@keyframes animatetop {
  from {top: -20%; opacity: 0}
  to {top: 20%; opacity: 1}
}

#nameQ {
  padding: 20px 0 0 0;
  color: white;
  font-size: 24px;
}

#nameA {
  outline: none;
}

#modalBtn {
  margin: 25px;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  color: rgba(39, 92, 255, 1);
  background: white;
}